@using Recaptcha;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
   
    <!-- jQuery library -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!-- Latest compiled JavaScript -->
    @*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow27.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <link href="~/Content/MyStyles.css" rel="stylesheet" type="text/css" />

    <script>
    $(function () {
        $('#nav ul li a').click(function () {
            $('#nav ul li').removeClass();
            $(this).parent().addClass('active');
        });
    });


    $(function () {
        var $affixElement = $('nav[data-spy="affix"]');
        $affixElement.width($affixElement.parent().width());
    });


    $(function () {
        var url = window.location.href;

        $('nav ul li a').each(function () {
            if (url == (this.href)) {
                $(this).closest("li").addClass("active");
            }
        });
    });

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".compItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })

    $(function () {
        $('#SubFrmClose').click(function () {
            $('#signUpModal').modal('hide');
        });
    });


    $(function () {
        $("footer img")
            .mouseover(function () {
                var src = $(this).attr("src").match(/[^\.]+/) + "_color.png";
                $(this).attr("src", src);
            })
            .mouseout(function () {
                var src = $(this).attr("src").replace("_color.png", ".png");
                $(this).attr("src", src);
            });
    });
    </script>
    

    


</head>

<body>
     <div id="bodyContents">
         <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img class="img-responsive2" src="http://placehold.it/148x51" /></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "Home")">Об институте</a></li>
                        <li><a href="@Url.Action("Courses", "Course")">Курсы</a></li>
                        <li><a href="@Url.Action("InstituteHead", "Home")">Ученый совет</a></li>
                        <li><a href="@Url.Action("Gallery", "Home")">Галерея</a></li>
                        <li><a href="@Url.Action("Contacts", "Home")">Контакты</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @*<li><button type="button" class="btn btn-info" data-toggle="modal" data-target="#signUpModal"></button></li>*@
                        <li><a href="#" data-toggle="modal" data-target="#signUpModal"><span class="glyphicon glyphicon-log-in">
                            </span> Подать заявку на обучение</a></li>
                    </ul>
                </div>
            </div>
        </nav>

         <div id="signUpModal" class="modal fade" role="dialog" aria-labelledby="signUpModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">


             <div class="modal-dialog" style="width: 280px">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" id="SubFrmClose" data-target="#signUpModal" data-dissmiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
                         <h4 class="modal-title">Персональные данные слушателя</h4>
                     </div>
                     <div class="modal-body">

                         @using (Ajax.BeginForm("SignUpForm", "Home", null, new AjaxOptions() { OnFailure = "CaptchaReload", OnSuccess = "CaptchaReload", UpdateTargetId = "SubscriptionForm", HttpMethod = "Post" }, new { id = "SubscriptionForm" }))
                         {
                            @Html.Action("SignUpForm", "Home");
                         }
                     </div>

                 </div>
             </div>
         </div>

                     <div class="container-fluid text-center clearfix">
                         <div class="row content">
                             <div class="col-sm-2 sidenav">
                                 <p><h3>Идет N-я учебная неделя</h3></p>
                                 <p><a href="#" style="line-height: 40px;">LinkPlaceholder</a></p>
                                 <p><a href="#" style="line-height: 40px;">LinkPlaceholder</a></p>
                             </div>

                             <div class="col-sm-8 text-left">
                                 @RenderBody()
                             </div>
                             <div class="col-sm-2" style="text-align: justify; vertical-align: middle;">
                                 <div class="well" style="margin: 5%,5%,5%,5%; padding: 5%,5%,5%,5%;">
                                     <p style="width: 100%">Нажми <a href="http://www.lenta.ru">Lenta</a> чтобы перейти на </p>
                                 </div>
                                 <div class="well" style="margin: 5%,5%,5%,5%; padding: 5%,5%,5%,5%;">
                                     <p style="width: 100%">infoPlaceholder</p>
                                 </div>
                             </div>

                         </div>
                     </div>
                 </div>
                 <footer>
                     <p>&copy; @DateTime.Now.Year - Московский государственный рыбный техникум</p>
                     <ul>
                         <li style="margin: 0 5px 10px 0  ;"><a href="http://www.odnoklassniki.ru"><img src="~/Content/Icons/odnoklassniki.png" /></a></li>
                         <li style="margin: 0 5px 10px 5px;"><a href="http://www.youtube.com"><img src="~/Content/Icons/youtube.png" /></a></li>
                         <li style="margin: 0 0   10px 5px;"><a href="http://www.vk.com"><img src="~/Content/Icons/vk.png" /></a></li>
                     </ul>
                     <br />
                 </footer>
</body>

</html>